@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=REM:ital,wght@1,200&family=Raleway:wght@200&display=swap');
nav {
    box-sizing: border-box;
    width: 100%;
    height: 8vh;
    background-color: white;
    display: inline;
    display: flex;
    position: sticky;
    top: 0;
    
}

.LK {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-top: 0.6em;
    font-size: 1.2em;
   
}

.proj {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 45em;
    word-spacing: 45px;
    font-size: 1.3em;
    margin-top: -1.20em;



}

a {
    text-decoration: none;
    color: black;
}

a:hover {

    background-color: silver;
    padding: 0.5em;
}

.header {
    width: 100%;
    height: 105vh;
    
    
    
}

.header1 {
    padding: 50px;
    position: relative;



}

.img1 {
    width: 91.5vw;
    height: 95vh;
    position: absolute;

}

.arc {
    text-align: center;
    position: relative;
    top: 250px;
}

.arc1 {
    background-color: rgba(6, 5, 5, 0.65);



    box-sizing: border-box;
    display: flex;
    width: 8vw;
    height: 12vh;
    display: inline-block;
    text-align: center;
    color: white;
    padding-top: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;

}

.arc2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;


}
hr{
    color:silver;
    opacity: 0.3;
}
.img2{
    margin-left: 15px;
    position: relative;
    
}

.img3{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 185px;
    height: 5.79vh;
    font-size: x-large;
    text-align: center;
    padding-top: 0.4em;
    position: absolute;
    top:0;
    left: 0.6em;
       
}
.img4{
    background-color: black;
    color: white;
    width: 185px;
    height: 4.4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 0.4em;
    position: absolute;
    top: 0;
    left: 15.2em;
}
.img5{
    background-color: black;
    color: white;
    width: 185px;
    height: 4.4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 0.4em;
    position: absolute;
    top: 0;
    left: 29.7em;
}
.img6{
    background-color: black;
    color: white;
    width: 185px;
    height: 4.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 0.4em;
    position: absolute;
    top: 0;
    left: 44.25em;
}
.img7{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 185px;
    height: 5.79vh;
    font-size: x-large;
    text-align: center;
    padding-top: 0.4em;
    position: absolute;
    top:0;
    left: 0.6em;
       
}
.paraa{
    margin-left: 50px;
    font-size: larger;
    text-indent: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.names1{
    display:inline;
    display: flex;
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
color: rgb(83, 80, 80);

}
.profe{
    display: inline;
    display: flex;
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
color: rgb(99, 98, 98);
}
.para1{
display:inline;
display: flex;

}
.para2{
    margin-left: 3.1em;
}
.para3{
    margin-left: 1.5em;
}
.para4{
margin-left: 1.5em;
}
.para5{
    margin-left: 2.8em;
}
.con1{
    margin-left: 2.5em;
   background-color: rgba(215, 212, 212, 0.699);
    width: 16.8vw;
    height: 1.75vh;
   text-align: center;
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
padding: 1.65em;
    
}
.con1:hover{
    background-color: rgb(145, 141, 141);

}
.con2{
    margin-left: 1.5em;
    background-color: rgba(215, 212, 212, 0.699);
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
width: 18vw;
text-align: center;
height: 1.75vh;
padding: 1.65em;
}

.con2:hover{
    background-color: rgb(145, 141, 141);
}
.con3{
    margin-left: 1.5em;
    background-color: rgba(215, 212, 212, 0.699);
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
width: 16.5vw;
text-align: center;
height: 1.75vh;
padding: 1.65em;
}
.con3:hover{
    background-color: rgb(145, 141, 141);
}


.con4{
    margin-left: 1.5em;
    background-color: rgba(215, 212, 212, 0.699);
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
width: 16.5vw;
text-align: center;
height: 1.75vh;
padding: 1.65em;
}
.con4:hover{
    background-color: rgb(145, 141, 141);
}

.lets{
    margin-left: 2.1em;
    font-size: x-large;

}

input{
    padding: 0.8em;
    margin-left: 3.6em;
    width:89vw;
}
.footer{
    background-color: black;
    color: white;
    width: 86.4vw;
    padding: 3em;
    margin-left: 2.8em;
    font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'REM', sans-serif;

    text-align: center;

}


body {
    font-size: 16px;
  }
  
  
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  

  @media (min-width: 1200px) {
    body {
      font-size: 18px;
    }
  }
  